.feature {
    position: relative;

    &__container {
        position: relative;
        background-color: $white;
    }

    &__image {
        width: 100%;
        height: 13.125rem;
        position: relative;

        @include breakpoint-up(tablet) {
            height: 17.5rem;
        }

        @include breakpoint-up(desktop) {
            max-width: 45.625rem;
            min-height: 31.25rem;
        }
    }
}