
.mainHeader {
    position: relative;
    min-width: $mobileHeaderHeight;

    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba($color:#000, $alpha: .4);
    background-image: url('../images/mobile/image-hero.jpg');

    @include breakpoint-up(medium) {
        background-position: center;
    }

    @include breakpoint-up (desktop) {
        background-image: url('../images/desktop/image-hero.jpg');
    }

    &__container {
        @extend %flex, %flex-flex-d_column, %flex-jc_spacebetween-ai-center;
    }

    &__nav {
        @extend %flex,
        %flex-jc_spacebetween-ai-center;
        width: 100%;
        z-index: 501;
        position: relative;
        max-height: 3.125rem;

        @include breakpoint-up (desktop) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        max-width: 48%;
        width: 15.625rem;

        @include breakpoint-up(desktop) {
            width: unset;
            max-width: 10rem;
        }

        img {
            width: 100%;
        }
    }

    &__menu {
        width: 1.5rem;
        height: 1.20rem;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        & > * {
            width: 100%;
            height: .125rem;
            background-color: $white;
            transition: all .2 ease-in-out;

            $transformOrigin: (1: .125rem, 2: center, 3: 0rem);
        }
    }
}

