
.mainHeader {
    position: relative;
    min-width: $mobileHeaderHeight;

    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba($color:#000, $alpha: .4);
    background-image: url('../images/mobile/image-hero.jpg');

    @include breakpoint-up(medium) {
        background-position: center;
    }

    @include breakpoint-up (desktop) {
        background-image: url('../images/desktop/image-hero.jpg');
    }

    &__container {
        @extend %flex, %flex-flex-d_column, %flex-jc_spacebetween-ai-center;
    }

    &__nav {
        @extend %flex,
        %flex-jc_spacebetween-ai-center;
        width: 100%;
        z-index: 501;
        position: relative;
        max-height: 3.125rem;

        @include breakpoint-up (desktop) {
            
            justify-content: space-between;
        }
    }
}

