

$breakpoints-up: (
    "mobile": 25.6875rem,
    "tablet": 48rem,
    "desktop": 64rem
);

$breakpoints-down: (
    "mobile": 25.625rem,
    "tablet": 47.9375rem,
    "desktop": 63.9375rem
);

@mixin breakpoint-up ($size){
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down ($size) {
    @media (min-width: map-get($breakpoints-down , $size)){
        @content;
    }
}

@mixin fadeIn{
    visibility: hidden;
    animation: fadeIn .4s ease-in-out forwards;
} 

@mixin fadeOut {
    visibility: hidden;
    animation: fadeOut .4s ease-in-out forwards;
}

@mixin hover-effect {
    position: relative;


    &::after {
        content: '';
        width: 50%;
        height: .125rem;
        left: 50%;
        bottom: -.4rem;
        @include fadeOut;
        position: absolute;
        background-color: $white;
        transform: translateX(-50%);
        transition: all .3s ease-in-out;
    }

    &:hover::after {
        bottom: -.7rem;
        @include fadeIn; 
    }
}